*{
  margin: 20px;
}

.flex{
  display: flex;
  flex-direction: row;
}

#name{
  width: 60vw;
}

body{
  background-color: rgb(192, 191, 191);
}

.btn{
  background-color: rgba(255, 127, 80, 0.332);
}

.btn:hover{
  background-color: coral;
}